mat-divider {
  margin-left: 2rem;
  margin-right: 2rem;
}

.item-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

.activity-item-title {
  display: block;
  margin-left:10%
}

.activity-item-title-name {
  font-size: 130%;
}

.activity-item-title-desc {
  font-size: 100%;
  color: grey;
  padding-top: 0.5rem
  
}

.pointer:hover {
    cursor: pointer;
}