<div class="row">
  <div class="col">
    <span class="mr-1">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select>
          <mat-option>
            2020
          </mat-option>
        </mat-select>
      </mat-form-field>
         </span>
        <span class="ml-1">
      <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select>
          <mat-option>
            January
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </div>
</div>